@font-face {
  font-family: 'HelveticaNeue';
  src: url('../font/HelveticaNeue/HelveticaNeue.eot');
  src: url('../font/HelveticaNeue/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
       url('../font/HelveticaNeue/HelveticaNeue.ttf')  format('truetype'),
       url('../font/HelveticaNeue/HelveticaNeue.svg#svgFontName') format('svg');
}

@keyframes gearSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}

@-webkit-keyframes gearSpin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(-360deg);
  }
}

@-moz-keyframes gearSpin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(-360deg);
  }
}

@-ms-keyframes gearSpin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(-360deg);
  }
}

@-o-keyframes gearSpin {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(-360deg);
  }
}

@keyframes gearSpinBack {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes gearSpinBack {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes gearSpinBack {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes gearSpinBack {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}

@-o-keyframes gearSpinBack {
  from {
    -o-transform: rotate(0deg);
  }
  to {
    -o-transform: rotate(360deg);
  }
}

/* --------------------swipe image slider stuff ---------- */
/*
 * Swiper - Mobile Touch Slider CSS
 * http://www.idangero.us/sliders/swiper
 *
 * Vladimir Kharlampidi, The iDangero.us
 * http://www.idangero.us/
 * 
 * Copyright 2012-2013, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us
 *
 * Licensed under GPL & MIT
 *
*/

/* ===============================================================
Basic Swiper Styles 
================================================================*/
.swiper-container, .swiper-container2 {
  margin:0 auto;
  position:relative;
  overflow:hidden;
  -webkit-backface-visibility:hidden;
  -moz-backface-visibility:hidden;
  -ms-backface-visibility:hidden;
  -o-backface-visibility:hidden;
  backface-visibility:hidden;
  /* Fix of Webkit flickering */
  z-index:1;
}
.swiper-wrapper {
  position:relative;
  width:100%;
  -webkit-transition-property:-webkit-transform, left, top;
  -webkit-transition-duration:0s;
  -webkit-transform:translate3d(0px,0,0);
  -webkit-transition-timing-function:ease;
  
  -moz-transition-property:-moz-transform, left, top;
  -moz-transition-duration:0s;
  -moz-transform:translate3d(0px,0,0);
  -moz-transition-timing-function:ease;
  
  -o-transition-property:-o-transform, left, top;
  -o-transition-duration:0s;
  -o-transform:translate3d(0px,0,0);
  -o-transition-timing-function:ease;
  -o-transform:translate(0px,0px);
  
  -ms-transition-property:-ms-transform, left, top;
  -ms-transition-duration:0s;
  -ms-transform:translate3d(0px,0,0);
  -ms-transition-timing-function:ease;
  
  transition-property:transform, left, top;
  transition-duration:0s;
  transform:translate3d(0px,0,0);
  transition-timing-function:ease;
}
.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  float: left;
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
.swiper-container {
  /* Specify Swiper's Size: */
  /*width:200px;
  height: 100px;*/
}
.swiper-slide {
  /* Specify Slides's Size: */
  
  /*width: 100%;
  height: 100%;*/
}
.swiper-slide-active {
  /* Specific active slide styling: */
  
}
.swiper-slide-visible {
  /* Specific visible slide styling: */ 

}
/* ===============================================================
Pagination Styles
================================================================*/
.swiper-pagination-switch {
  /* Stylize pagination button: */  

}
.swiper-active-switch {
  /* Specific active button style: */ 
  
}
.swiper-visible-switch {
  /* Specific visible button style: */  
  
}
/*--------------------sidr plug stuff----------------------*/
.sidr{display:none;position:absolute;position:fixed;top:0;height:100%;z-index:999999;width:260px;overflow-x:none;overflow-y:auto;font-family:"lucida grande",tahoma,verdana,arial,sans-serif;font-size:15px;background:#333;color:#fff;-webkit-box-shadow:inset 0 0 5px 5px #222;-moz-box-shadow:inset 0 0 5px 5px #222;box-shadow:inset 0 0 5px 5px #222}.sidr .sidr-inner{padding:0 0 15px}.sidr .sidr-inner>p{margin-left:15px;margin-right:15px}.sidr.right{left:auto;right:-260px}.sidr.left{left:-260px;right:auto}.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6{font-size:11px;font-weight:normal;padding:0 15px;margin:0 0 5px;color:#fff;line-height:24px;background-image:-webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));background-image:-webkit-linear-gradient(#4d4d4d,#1a1a1a);background-image:-moz-linear-gradient(#4d4d4d,#1a1a1a);background-image:-o-linear-gradient(#4d4d4d,#1a1a1a);background-image:linear-gradient(#4d4d4d,#1a1a1a);-webkit-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);-moz-box-shadow:0 5px 5px 3px rgba(0,0,0,0.2);box-shadow:0 5px 5px 3px rgba(0,0,0,0.2)}.sidr p{font-size:13px;margin:0 0 12px}.sidr p a{color:rgba(255,255,255,0.9)}.sidr>p{margin-left:15px;margin-right:15px}.sidr ul{display:block;margin:0 0 15px;padding:0;border-top:1px solid #1a1a1a;border-bottom:1px solid #4d4d4d}.sidr ul li{display:block;margin:0;line-height:48px;border-top:1px solid #4d4d4d;border-bottom:1px solid #1a1a1a}.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active{border-top:none;line-height:49px}.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #222;-moz-box-shadow:inset 0 0 15px 3px #222;box-shadow:inset 0 0 15px 3px #222}.sidr ul li a,.sidr ul li span{padding:0 15px;display:block;text-decoration:none;color:#fff}.sidr ul li ul{border-bottom:none;margin:0}.sidr ul li ul li{line-height:40px;font-size:13px}.sidr ul li ul li:last-child{border-bottom:none}.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active{border-top:none;line-height:41px}.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span{-webkit-box-shadow:inset 0 0 15px 3px #222;-moz-box-shadow:inset 0 0 15px 3px #222;box-shadow:inset 0 0 15px 3px #222}.sidr ul li ul li a,.sidr ul li ul li span{color:rgba(255,255,255,0.8);padding-left:30px}.sidr form{margin:0 15px}.sidr label{font-size:13px}.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select{width:100%;font-size:13px;padding:5px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0 0 10px;-webkit-border-radius:2px;-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;border-radius:2px;border:none;background:rgba(0,0,0,0.1);color:rgba(255,255,255,0.6);display:block;clear:both}.sidr input[type=checkbox]{width:auto;display:inline;clear:none}.sidr input[type=button],.sidr input[type=submit]{color:#333;background:#fff}.sidr input[type=button]:hover,.sidr input[type=submit]:hover{background:rgba(255,255,255,0.9)}
/*---------------------------------------------------------*/

/* resets and common styles */

* {
  margin: 0px;
  padding: 0px;
  font-family: "HelveticaNeue";
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 0.25px;
  color: #fff;
}

a, a:active, a:visited {
  text-decoration: none;
  outline: none;
}

a img {
  border: none;
}

body {
  background: url('../images/bg-ipad.jpg');
  width: 100%;
}

.loading {
  position: fixed;
  z-index: 1000;
  width: inherit;
  height: 1200px;
  background: #023D5F;
}

.loading-content {
  width: 240px;
  display: inline-block;
  position: relative;
  left: 50%;
  margin-left: -130px;
}

.loading-content-gif {
  position: relative;
  z-index: 100;
  float: right;
  top: 27px;
}

.sidr .user {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 1.1em;
}

#close2 {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: url("../images/close2.png");
  background-size: 20px 20px;
}

#logoutButton {
  width: 270px;
  border: solid 1px #0275aa;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.1em;
  color: #ffffff;
  padding: 7px 10px;
  background-color: #0275aa;
  margin: 10px 0 0 10px;
}


.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  width: inherit;
  height: 1200px;
  background: rgba(0,0,0, 0.7);
}

.modal-wrapper {
  max-width: 400px;
  margin: 10px auto auto auto;
}

.modal-title {
  color: #fff;
  background: #0274AA;
  padding: 20px 10px;
  -webkit-border-top-left-radius: 3px; 
  -moz-border-top-left-radius: 3px; 
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px; 
  -moz-border-top-right-radius: 3px; 
  border-top-right-radius: 3px;
  text-align: center;
}

.modal-close {
  width: 20px;
  height: 20px;
  background: url("../images/close.png");
  background-size: 20px 20px;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.modal-content {
  display: none;
  -webkit-border-bottom-left-radius: 3px; 
  -moz-border-bottom-left-radius: 3px; 
  border-bottom-left-radius: 3px;
  -webkit-border-bottom-right-radius: 3px; 
  -moz-border-bottom-right-radius: 3px; 
  border-bottom-right-radius: 3px;
  max-width: 400px;
  background: #fff;
  color: #000;
  padding: 10px 0px 10px 0px;
}

.modal-content.imagenes, .modal-content.interactivo, .modal-content.talentos, .modal-content.trivia {
  height: 280px;
}

/* imagenes stuff */

.device {
  width: 320px;
  height: 200px;
  padding: 40px 0px;
  margin: 5px auto;
  position: relative;
}
.swiper-container {
  width: 320px;
  height: 200px;
}
.content-slide {
  color: #fff;
}

.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

/* interactivo stuff */

.interactivo {
  padding: 10px 0 10px 0;
}

.sidebar-feed {
  overflow-y: auto;
  height: inherit;
  -webkit-overflow-scrolling: touch;
}

.sidebar-feed-item {
  padding: 10px;
  font-size: 0.8em;
  border-bottom: 1px solid #f0f0f0;
}

.sidebar-feed-item-image {
  float: left;
}

.sidebar-feed-item-content {
  float: right;
  width: 175px;
  color: #000;
}

/* trivia stuff */

.trivia {
  padding: 10px;
  text-align: center;
}
.trivia-answer select, .trivia-answer select option {
  color: #000;
}

.trivia-submit {
  margin: 10px auto 10px auto;
  color: #fff;
  background: #0274AA;
  padding: 10px;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px;
  text-align: center;
  width: 200px;
  cursor: pointer;
}

/* end of modal stuff */

.header {
  background: #023d5f;
  height: 50px;
  font-size: 1em;
  margin-bottom: 10px;
}

.header-logo {
  background: url("../images/logo-directv-small.jpg");
  width: 122px;
  height: 50px;
  float: left;
}

.header-channel {
  margin-top: 15px;
  float: left;
  margin-left: 20px;
}

.channel {
  background: #000;
  padding: 2px;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px;
  font-size: 0.7em;
  vertical-align: middle;
}

.header-rank, .header-rank-image, .header-points {
  float: right;
  margin-left: 5px;
  margin-right: 5px;
}

.header-rank, .header-points {
  margin-top: 13px;
}

.header-rank {
  display: none;
  margin-top: 15px;
}

.header-points {
  background: #0274AA;
  -webkit-border-radius: 3px; 
  -moz-border-radius: 3px; 
  border-radius: 3px;
  padding: 3px;
}

.t-main {
  display: none;
}

.game {
  max-width: 400px;
  margin: auto;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: justify;
  -moz-box-pack: justify;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: start;
  -moz-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.game div {
  -webkit-box-ordinal-group: 1;
  -moz-box-ordinal-group: 1;
  -webkit-order: 0;
  -ms-flex-order: 0;
  order: 0;
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 1 auto;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.game div.text {
  margin-top: 13px;
}

.feed {
  height: 30px;
  vertical-align: middle;
  background: #012d4c;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding-top: 10px;
  padding: 10px 7px 0px 7px;
  margin: 0 5px;
  overflow: hidden;
  position: relative;
  width: auto;
}

.feed div {
  position: absolute;
  overflow: hidden;
  white-space: nowrap;
  transform: translate3d(0,0,0);
  -webkit-transform: translate3d(0,0,0);
}

.menu-item, .config {
  margin: 10px 5px 10px 5px;
  padding: 5px 0 5px 0;
  font-size: 1.3em;
  text-align: center;
  background: #05519c;
  cursor: pointer;
}

.dataCurioso {
  background: #0072ae;
  padding: 5px 7px 0px 7px;
  height: 25px;
}

.notice-text {
  background: #fff;
  color: #012d4c;
  font-size: 0.8em;
  margin: 10px 5px;
  padding: 7px;
  text-align: center;
}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation : landscape) {
  .m-main {
    display: none;
  }

  .header-logo {
    background: url("../images/logo-directv.jpg");
    width: 220px;
    height: 50px;
    float: left;
  }

  .t-main {
    display: block;
    padding: 10px 10px 10px 0;
  }

  .left {
    float: left;
    width: 29%;
  }

  .right {
    float: right;
    width: 68%;
  }

  .user-menu {
    background: #000B21;
    width: 275px;
    height: 30px;
    padding: 8px 10px 8px 10px;
  }

  .user {
    width: 240px;
    margin-top: 5px;
    float: left;
  }

  .settings {
    width: 30px;
    float: right;
    cursor: pointer;
  }

  #close {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url("../images/close.png");
    background-size: 20px 20px;
  }

  #close2 {
    cursor: pointer;
    width: 20px;
    height: 20px;
    background: url("../images/close2.png");
    background-size: 20px 20px;
  }

  .sidebar-feed {
    width: 290px;
    background: #fff;
    color: #000;
    margin-top: 10px;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    height: 400px;
    float: left;
    margin-left: 5px;
    overflow: hidden;
  }

  .sidebar-title {
    padding: 20px 0px 20px 0;
    text-align: center;
    background: #0074B0;
    color: #fff;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    font-size: 1.2em;
  }

  .sidebar-feed-container {
    overflow-y: auto;
    height: 297px;
    -webkit-overflow-scrolling: touch;
  }

  .sidebar-item {
    padding: 10px;
    font-size: 0.8em;
    border-bottom: 1px solid #f0f0f0;
  }

  .sidebar-item-image {
    float: left;
  }

  .sidebar-item-content {
    float: right;
    width: 175px;
    color: #000;
  }

  .sidebar-buttons-container {
    width: 290px;
  }

  .sidebar-buttons {
    float: left;
    background: #0074B0;
    text-align: center;
    min-width: 40%;
    padding: 15px 0 15px 0;
    color: #fff;
    font-size: 0.65em;
    cursor: pointer;
  }

  .sidebar-buttons:first-child {
    min-width: 40%;
    -webkit-border-bottom-left-radius: 3px; 
    -moz-border-bottom-left-radius: 3px; 
    border-bottom-left-radius: 3px;
  }

  .sidebar-buttons:last-child {
    min-width: 20%;
    -webkit-border-bottom-right-radius: 3px; 
    -moz-border-bottom-right-radius: 3px; 
    border-bottom-right-radius: 3px;
  }

  .other-games {
    padding: 13px 0 13px 0;
    background: #848484;
    text-align: center;
    vertical-align: middle;
  }

  .main-panel {
    height: 353px;
    background: #484848;
    -webkit-border-top-left-radius: 3px; 
    -moz-border-top-left-radius: 3px; 
    border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px; 
    -moz-border-top-right-radius: 3px; 
    border-top-right-radius: 3px;
    margin-top: 10px;
    width: 100%;
    overflow: auto;
  }

  .content-wrapper {
    height: auto;
  }

  /* juego hoy stuff */

  .game-data {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 50px;
    width: 75%;
    margin-left: 10px;
  }

  .game-data > div {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }

  .panel-top {
    height: 50px;
  }

  .panel-top > div {
    float: left;
  }

  .panel-top-game-data {
    background: #0074B0;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    text-align: center;
    padding: 15px;
    float: left;
  }

  .panel-top-game-weather {
    padding-left: 10%;
  }

  .panel-top-game-vs > div {
    float: left;
  }

  .panel-top-game-vs > .vs {
    margin: 14px 12px 0px 12px;
  }

  .panel-top-game-score {
    margin-top: 14px;
  }

  .content-main {
  }

  .panel-left {
    float: left;
    width: 48%;
    margin-left: 5px;
    padding: auto 10px auto 10px;
    text-align: center;
  }

  .panel-left .wrapper {
    position: relative;
    margin-top: 25%;
    top: -50px;
    word-wrap: break-word;
  }

  .button {
    background: #0274AA;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px; 
    border-radius: 3px;
    padding: 10px;
    margin: 13px 15px 0px 15px;
    width: 100px;
    margin: auto;
    cursor: pointer;
  }

  .panel-right {
    width: 48%;
    float: right;
    margin-right: 15px;
  }

  .device {
    width: 320px;
    height: 200px;
    padding: 5px 0 40px 0;
    margin: 5px auto;
  }
  .swiper-container2 {
    width: 320px;
    height: 200px;
  }
  .content-slide {
    color: #fff;
  }

  .pagination2 {
    position: absolute;
    left: 0;
    text-align: center;
    bottom: 5px;
    width: 100%;
  }
  .swiper-pagination-switch {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #999;
    box-shadow: 0px 1px 2px #555 inset;
    margin: 0 3px;
    cursor: pointer;
  }
  .swiper-active-switch {
    background: #fff;
  }

  .feed {
    height: 30px;
    vertical-align: middle;
    background: #012d4c;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 10px 7px 0px 7px;
    margin: 0 5px;
    overflow: hidden;
    position: relative;
    width: auto;
  }

  .feed div {
    position: absolute;
    overflow: hidden;
    white-space: nowrap;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
  }

  #imgs2 
  {
    float:left;
    display:inline;
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    padding:0px;
    margin:0px;
    width: 2000px;
    -webkit-transform: translate3d(0px,0px,0px); 
  }

  #imgs2 img
  {
    padding:0px;
    margin:0px;  
    width:320px;
    height:200px;
    -webkit-transform: translate3d(0px,0px,0px); 
  }

  /* .juegos stuff */

  .juegos {
    padding: 10px;
  }

  .juegos-table {
    display: table;
    width: 100%;
    text-align: center;
  }

  .juegos-row {
    display: table-row;
  }

  .juegos-cell {
    display: table-cell;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    padding: 5px 0 5px 0;
  }

  .juegos-row .juegos-cell:last-child {
    border-right: 1px solid #222;
  }

  .juegos-row:last-child .juegos-cell {
    border-bottom: 1px solid #222;
  }

  /* .calendario stuff */

  .calendario {
    padding: 10px;
  }

  .calendario-table {
    display: table;
    width: 100%;
    text-align: center;
  }

  .calendario-row {
    display: table-row;
  }

  .calendario-cell {
    display: table-cell;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    padding: 5px 0 5px 0;
  }

  .calendario-row .calendario-cell:last-child {
    border-right: 1px solid #222;
  }

  .calendario-row:last-child .calendario-cell {
    border-bottom: 1px solid #222;
  }

  /* .tabla stuff */

  .tabla {
    padding: 10px;
  }

  .tabla-table {
    display: table;
    width: 100%;
    text-align: center;
  }

  .tabla-row {
    display: table-row;
  }

  .tabla-cell {
    display: table-cell;
    border-top: 1px solid #222;
    border-left: 1px solid #222;
    padding: 5px 0 5px 0;
  }

  .tabla-row .tabla-cell:last-child {
    border-right: 1px solid #222;
  }

  .tabla-row:last-child .tabla-cell {
    border-bottom: 1px solid #222;
  }

  /* end of main panel stuff */

  .main-change {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: 100%;
    position: relative;
  }

  .change-buttons {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    background: #0074B0;
    text-align: center;
    padding: 15px;
    color: #fff;
    cursor: pointer;
  }

  .change-buttons:first-child {
      -webkit-border-bottom-left-radius: 3px; 
      -moz-border-bottom-left-radius: 3px; 
      border-bottom-left-radius: 3px;
  }

  .change-buttons:last-child {
      -webkit-border-bottom-right-radius: 3px; 
      -moz-border-bottom-right-radius: 3px; 
      border-bottom-right-radius: 3px;
  }

  .dataCurioso {
    height: 25px;
    margin: 10px 0 0 5px;
    background: #0274AA;
    padding: 15px 10px 15px 0px;
  }

  .footer-subcontent {
    margin: 10px 0px 0px 0px;
    padding: 20px;
    background: #000B21;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-direction: normal;
    -moz-box-direction: normal;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-pack: justify;
    -moz-box-pack: justify;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-box-align: start;
    -moz-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

  .footer-subcontent > div {
    -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
  }
}






